BasedOnStyle:      Chromium
IndentWidth:       8
PointerAlignment:  Right
IndentCaseLabels:  False
BraceWrapping:
  AfterFunction:   true
BreakBeforeBraces: Custom
BinPackArguments: false
BinPackParameters: false
