[credential "https://github.com"]
	helper = 
	helper = !gh auth git-credential
[user]
	# name and email loaded from ~/.git.env via GIT_AUTHOR_*/GIT_COMMITTER_* env vars
[core]
	autocrlf = input
	editor = nvim
[credential]
	useHttpPath = true
	helper = store
[init]
	defaultBranch = main
[diff]
	context = 0
